.banner {
  color: white;
  object-fit: contain;
  height: 130px;
  padding-top: 140px;
}
.banner_fadeButtom {
  padding-top: 120px;
  height: 2rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
