.row {
  margin-left: 5px;
  background-color: black;
  margin-top: 5px;
  padding-top: 5px;
}
.row_posters {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}
.list_poster {
  padding: 1px;
  margin: 5px;
  max-width: 300px;
  list-style-type: none;
}
.image_poster {
  width: 200px;
  height: 250px;
  transition: transform 450ms;
  padding: 2px;
  margin: 8px;
  object-fit: contain;
}
.row_posters::-webkit-scrollbar {
  display: none;
}
.poster_name {
  padding: 5px;
  margin: 10px;
  color: white;
}
.image_poster:hover {
  transform: scale(1.1);
}
.heading {
  color: white;
  padding: 15px;
}
.extra_info {
  color: white;
  margin: 10px;
  display: flex;
  padding: 30px;
}
.only_info {
  max-width: 500px;
  padding: 30px;
}
.only_image {
  padding: 30px;
  width: 100px;
  height: 200px;
  object-fit: contain;
}
.char_char_image {
  widows: 250px;
  height: 190px;
  padding: 9px;
}
.label_search {
  color: rgb(120, 175, 147);
  padding: 23px;
}
.heading {
  padding-left: 10px;
  color: rgb(120, 175, 147);
  margin-right: 300px;
}
.only_label {
  padding: 6px;
}
.input_add {
  display: flex;
  align: 'center';
}
.Input_attribute {
  height: 22px;
  width: 150px;
  margin: 21px;
}
.only_information {
  padding: 10px;
  margin: 50px;
}
